#div-body-favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#div-fav-music {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#img-fav-music {
  border-radius: 50%;
  height: 61px;
  left: 274px;
  padding: 20px;
  top: 394px;
  width: 61px;
}

#div-carregando{
  width: 80px;
  height: 30px;
}

@media screen and (max-width: 600px) {
  #div-fav-music{
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
}
